################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################
*.suo
*.user
/.vs
/ApiWebApplication/.vs
ApiWebApplication/ApiWebApplication.csproj.user
/ApiWebApplication/bin
/ApiWebApplication/obj
/Controls/bin
/Controls/obj
/WindowsFormsApp/bin
/WindowsFormsApp/obj
.vs/SchoolSystem/v17/*.json
