################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################
*.suo
*.user
/.vs

/ApiWebApplication/.vs
