################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SchoolSystem.sln
/.vs/SchoolSystem
/.vs
/.vs/SchoolSystem/v17
